<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplicativos</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Aplicativos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Custo Mensal</th>
        </tr>
        <tr>
            <td>App Pro</td>
            <td>R$ 19.99</td>
        </tr>
        <tr>
            <td>App Basic</td>
            <td>R$ 9.99</td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
    </table>
    <a th:href="@{/}">Voltar</a>
</body>
</html>
