<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestão de Assinaturas</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Bem-vindo ao Sistema de Gestão de Assinaturas</h1>
    <ul>
        <li><a th:href="@{/clientes}">Clientes</a></li>
        <li><a th:href="@{/aplicativos}">Aplicativos</a></li>
        <li><a th:href="@{/assinaturas}">Assinaturas</a></li>
        <li><a th:href="@{/pagamentos}">Pagamentos</a></li>
        <li><a th:href="@{/promocoes}">Promoções</a></li>
    </ul>
</body>
</html>
